<%= stylesheet_link_tag 'chat' %>
<% if message.sender == current_user %>
  <p  class="msg_send" style="color: #946af3" ><%= message.message %></p>
<% else %>
  <p style="color: #B00100"><%= message.message %></p>
<% end %>

